/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-757e9c87908616274224.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-1e6b0fd604fba24e3b49.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-3787bccddd8d2ff40a77.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/directory-libs.raylib.raylib.external.glfw.src-Debug-b37c6898fa788b40ccbe.json
/cmake-build-debug/.cmake/api/v1/reply/directory-libs.raylib.raylib.external.glfw-Debug-0034254de1e1c05c6c39.json
/cmake-build-debug/.cmake/api/v1/reply/directory-libs.raylib.raylib-Debug-2b33ca730e7d50fcf8ef.json
/cmake-build-debug/.cmake/api/v1/reply/directory-libs.raylib-Debug-33846bc9f9f81ec6a826.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-12-11T11-16-31-0758.json
/cmake-build-debug/.cmake/api/v1/reply/target-Chess-Debug-175c58328bc5f36b40f9.json
/cmake-build-debug/.cmake/api/v1/reply/target-glfw-Debug-2fe8a55a7eab49aa7259.json
/cmake-build-debug/.cmake/api/v1/reply/target-raylib-Debug-342d019d21beb18c6b4f.json
/cmake-build-debug/.cmake/api/v1/reply/target-uninstall-Debug-3a336bbc97e47af82064.json
/cmake-build-debug/.cmake/api/v1/reply/target-update_mappings-Debug-45bf6bf9f4ff01d50d4d.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-7096c62e23c342eb06a8.json
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/a.out
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/Chess.dir/src/Board/Board.cpp.o
/cmake-build-debug/CMakeFiles/Chess.dir/src/Debug/Debug.cpp.o
/cmake-build-debug/CMakeFiles/Chess.dir/src/GameLogic/GameLogic.cpp.o
/cmake-build-debug/CMakeFiles/Chess.dir/src/Renderer/Renderer.cpp.o
/cmake-build-debug/CMakeFiles/Chess.dir/src/Setup/Setup.cpp.o
/cmake-build-debug/CMakeFiles/Chess.dir/src/main.cpp.o
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/libs/raylib/raylib/CMakeFiles/raylib.dir/raudio.c.o
/cmake-build-debug/libs/raylib/raylib/CMakeFiles/raylib.dir/rcore.c.o
/cmake-build-debug/libs/raylib/raylib/CMakeFiles/raylib.dir/rmodels.c.o
/cmake-build-debug/libs/raylib/raylib/CMakeFiles/raylib.dir/rshapes.c.o
/cmake-build-debug/libs/raylib/raylib/CMakeFiles/raylib.dir/rtext.c.o
/cmake-build-debug/libs/raylib/raylib/CMakeFiles/raylib.dir/rtextures.c.o
/cmake-build-debug/libs/raylib/raylib/CMakeFiles/raylib.dir/utils.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/context.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/egl_context.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/glx_context.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/init.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/input.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/linux_joystick.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/monitor.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/null_init.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/null_joystick.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/null_monitor.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/null_window.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/osmesa_context.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/platform.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/posix_module.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/posix_poll.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/posix_thread.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/posix_time.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/vulkan.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/window.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/x11_init.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/x11_monitor.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/x11_window.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/xkb_unicode.c.o
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/cmake_install.cmake
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/glfw3.pc
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/glfw3Config.cmake
/cmake-build-debug/libs/raylib/raylib/external/glfw/src/glfw3ConfigVersion.cmake
/cmake-build-debug/libs/raylib/raylib/external/glfw/cmake_install.cmake
/cmake-build-debug/libs/raylib/raylib/include/raylib.h
/cmake-build-debug/libs/raylib/raylib/include/raymath.h
/cmake-build-debug/libs/raylib/raylib/include/rlgl.h
/cmake-build-debug/libs/raylib/raylib/cmake_install.cmake
/cmake-build-debug/libs/raylib/raylib/CTestTestfile.cmake
/cmake-build-debug/libs/raylib/raylib/libraylib.a
/cmake-build-debug/libs/raylib/raylib/raylib.pc
/cmake-build-debug/libs/raylib/raylib/raylib-config-version.cmake
/cmake-build-debug/libs/raylib/cmake_install.cmake
/cmake-build-debug/libs/raylib/cmake_uninstall.cmake
/cmake-build-debug/libs/raylib/CTestTestfile.cmake
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/Chess
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CPackConfig.cmake
/cmake-build-debug/CPackSourceConfig.cmake
/cmake-build-release/.cmake/api/v1/query/cache-v2
/cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-release/.cmake/api/v1/query/codemodel-v2
/cmake-build-release/.cmake/api/v1/query/toolchains-v1
/cmake-build-release/.cmake/api/v1/reply/cache-v2-c73230b09ca971c0945b.json
/cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-5f0b911b1142c17b1909.json
/cmake-build-release/.cmake/api/v1/reply/codemodel-v2-b597fee0f2c2e4e5941a.json
/cmake-build-release/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
/cmake-build-release/.cmake/api/v1/reply/directory-libs.raylib.raylib.external.glfw.src-Release-b37c6898fa788b40ccbe.json
/cmake-build-release/.cmake/api/v1/reply/directory-libs.raylib.raylib.external.glfw-Release-0034254de1e1c05c6c39.json
/cmake-build-release/.cmake/api/v1/reply/directory-libs.raylib.raylib-Release-cb260531161cc8c40e78.json
/cmake-build-release/.cmake/api/v1/reply/directory-libs.raylib-Release-33846bc9f9f81ec6a826.json
/cmake-build-release/.cmake/api/v1/reply/index-2024-12-11T11-16-32-0397.json
/cmake-build-release/.cmake/api/v1/reply/target-Chess-Release-d4dd370931d18d728124.json
/cmake-build-release/.cmake/api/v1/reply/target-glfw-Release-31039ec6a6e1c5142d16.json
/cmake-build-release/.cmake/api/v1/reply/target-raylib-Release-8d0b2da950548259a1c3.json
/cmake-build-release/.cmake/api/v1/reply/target-uninstall-Release-610835e745031514b5f1.json
/cmake-build-release/.cmake/api/v1/reply/target-update_mappings-Release-90f54073997db991f80a.json
/cmake-build-release/.cmake/api/v1/reply/toolchains-v1-7096c62e23c342eb06a8.json
/cmake-build-release/CMakeFiles/3.30.5/CompilerIdC/a.out
/cmake-build-release/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/cmake-build-release/CMakeFiles/3.30.5/CompilerIdCXX/a.out
/cmake-build-release/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-release/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/cmake-build-release/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/cmake-build-release/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/cmake-build-release/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-release/CMakeFiles/3.30.5/CMakeSystem.cmake
/cmake-build-release/CMakeFiles/Chess.dir/src/Board/Board.cpp.o
/cmake-build-release/CMakeFiles/Chess.dir/src/Debug/Debug.cpp.o
/cmake-build-release/CMakeFiles/Chess.dir/src/GameLogic/GameLogic.cpp.o
/cmake-build-release/CMakeFiles/Chess.dir/src/Renderer/Renderer.cpp.o
/cmake-build-release/CMakeFiles/Chess.dir/src/Setup/Setup.cpp.o
/cmake-build-release/CMakeFiles/Chess.dir/src/main.cpp.o
/cmake-build-release/CMakeFiles/clion-environment.txt
/cmake-build-release/CMakeFiles/clion-Release-log.txt
/cmake-build-release/CMakeFiles/cmake.check_cache
/cmake-build-release/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-release/CMakeFiles/rules.ninja
/cmake-build-release/CMakeFiles/TargetDirectories.txt
/cmake-build-release/libs/raylib/raylib/CMakeFiles/raylib.dir/raudio.c.o
/cmake-build-release/libs/raylib/raylib/CMakeFiles/raylib.dir/rcore.c.o
/cmake-build-release/libs/raylib/raylib/CMakeFiles/raylib.dir/rmodels.c.o
/cmake-build-release/libs/raylib/raylib/CMakeFiles/raylib.dir/rshapes.c.o
/cmake-build-release/libs/raylib/raylib/CMakeFiles/raylib.dir/rtext.c.o
/cmake-build-release/libs/raylib/raylib/CMakeFiles/raylib.dir/rtextures.c.o
/cmake-build-release/libs/raylib/raylib/CMakeFiles/raylib.dir/utils.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/context.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/egl_context.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/glx_context.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/init.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/input.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/linux_joystick.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/monitor.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/null_init.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/null_joystick.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/null_monitor.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/null_window.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/osmesa_context.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/platform.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/posix_module.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/posix_poll.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/posix_thread.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/posix_time.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/vulkan.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/window.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/x11_init.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/x11_monitor.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/x11_window.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/CMakeFiles/glfw.dir/xkb_unicode.c.o
/cmake-build-release/libs/raylib/raylib/external/glfw/src/cmake_install.cmake
/cmake-build-release/libs/raylib/raylib/external/glfw/src/glfw3.pc
/cmake-build-release/libs/raylib/raylib/external/glfw/src/glfw3Config.cmake
/cmake-build-release/libs/raylib/raylib/external/glfw/src/glfw3ConfigVersion.cmake
/cmake-build-release/libs/raylib/raylib/external/glfw/cmake_install.cmake
/cmake-build-release/libs/raylib/raylib/include/raylib.h
/cmake-build-release/libs/raylib/raylib/include/raymath.h
/cmake-build-release/libs/raylib/raylib/include/rlgl.h
/cmake-build-release/libs/raylib/raylib/cmake_install.cmake
/cmake-build-release/libs/raylib/raylib/CTestTestfile.cmake
/cmake-build-release/libs/raylib/raylib/libraylib.a
/cmake-build-release/libs/raylib/raylib/raylib.pc
/cmake-build-release/libs/raylib/raylib/raylib-config-version.cmake
/cmake-build-release/libs/raylib/cmake_install.cmake
/cmake-build-release/libs/raylib/cmake_uninstall.cmake
/cmake-build-release/libs/raylib/CTestTestfile.cmake
/cmake-build-release/Testing/Temporary/LastTest.log
/cmake-build-release/.ninja_deps
/cmake-build-release/.ninja_log
/cmake-build-release/build.ninja
/cmake-build-release/Chess
/cmake-build-release/cmake_install.cmake
/cmake-build-release/CMakeCache.txt
/cmake-build-release/CPackConfig.cmake
/cmake-build-release/CPackSourceConfig.cmake
/.idea/.gitignore
/.idea/Chess.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
